fastapi==0.78.0
httpx==0.22.0
loguru==0.6.0
loguru-mypy>=0.0.4
zstd>=1.5.2.5
motor==3.0.0
mypy==0.950
orjson==3.6.8
pydantic==1.9.1
pylru==1.2.1
pymongo==4.1.1
pytest==7.1.2
pytest-asyncio==0.18.3
PyYAML>=6.0
typing_extensions==4.2.0
websockets>=10.3
uvicorn==0.17.6