fastapi==0.85.1
httpx==0.24.1
loguru==0.7.0
motor==3.2.0
orjson==3.9.2
pydantic==2.1.1
pylru==1.2.1
pytest==7.4.0
pytest_asyncio==0.21.1
PyYAML==6.0
uvicorn==0.23.1
uvloop==0.17.0
websockets==11.0.3
zstd==1.5.5.1
