fastapi==0.103.2
httpx==0.25.0
loguru==0.7.2
motor==3.3.1
pydantic==2.4.2
pylru==1.2.1
pytest==7.4.2
pytest_asyncio==0.21.1
PyYAML==6.0
uvicorn==0.23.2
websockets==11.0.3
zstd==1.5.5.1
orjson==3.9.7
uvloop==0.17.0